<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Mission Statement</title>
	<link th:href="@{/styles/mission.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	
</head>
<body>
	<div class="d-flex flex-column justify-content-center">
	    <div class="card w-50 shadow bg-light mt-3 mb-3" style="margin: auto;">
			<div class="card-header"><b>Misssion Statement</b></div>
			<div class="card-body d-flex flex-column">
	       		<p>Offerly is a website used for bartering with
				friends over the internet. The goal is to provide a fun and secure
				environment for everyone to participate in exchanging goods for
				goods or goods for currency.</p>
				<p>We don't agree with big industry and we
				want to run this shop on the bare minimum - meaning we don't price
				gouge and we aren't interested in your data. The sole mission is to
				provide this service with transparency so our users can shop online
				hassle free.</p>
	       	</div>
	    </div>
	    <div class="card w-50 shadow bg-light mt-3 mb-3" style="margin: auto;">
			<div class="card-header"><b>User Expectations</b></div>
			<div class="card-body d-flex flex-column">
	       		<p>Feedback is greatly appreciated!</p>
				<p>One of the significant drivers is
				providing a great service with none of the other inconveniences that
				are encountered on other online mediums. Therefore having great
				security and a strong user-base is our number one priority. </p>
				<p>It is encouraged to report any suspicious activity through
				our reporting system no matter how insignificant it may seem. That
				way our team of experts can keep this site as it is meant to be!</p>
	       	</div>
	    </div>
	</div>
	<div class="d-flex mb-3">
	 	<a class="btn btn-outline-danger" style="margin-left:16px; margin: auto;" onclick="history.back()">Back</a>
	</div>
</body>
</html>